.right {
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}

.right button {
    margin: 0px 0px 15px 0px !important;
    height: 43px;
    border-radius: 10px;
    width: 100%;  
}


.left {
    width: 60vw;
}

.content-employee {
    display: flex;
    justify-content: space-around;
}