.button {
    background-color: var(--main-color);
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 18px;
    color: #ffff;
    margin-top: 10px;
    margin-left: 10px;
}
