:root {
    --background: #f2f2f2;
    --main-color: #023f81;
}


.content-epi {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.bnt-pesquisar-epi,.bnt-apagar-epi {
    background-color: var(--main-color);
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 18px;
    width: 100%;
    color: #ffff;
}

.right-epi {
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}
.right-epi button {
    margin: 0px 0px 15px 0px !important;
    height: 43px;
    border-radius: 10px;
    width: 100%;
    /* margin: 0px; */
}
.left-epi {
    width: 60vw;
}