:root{
    --background : #f2f2f2;
    --main-color : #023f81;
}
#content{
background-color: var(--background);
height: 100vh;
width: 100vw;

}
.RodaPe{
    background-color: var(--main-color);
    position: fixed;
    width: 100vw;
    bottom: 0;
    text-align: center;
    height: 100px;
    color: #ffff;
}
.RodaPe h1,h3{
    margin-bottom: 5px;
}