:root {
    --background: #f2f2f2;
    --main-color: #023f81;
    --second-color: #002f64;
}



.btn.btn-secondary{
    background-color: var(--main-color);
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    color: #ffff;
}
.btn.btn-primary{
    background-color: var(--main-color);
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    color: #ffff;
    margin-top: 10px;
    margin-left: 10px;
}
.modal-body {
padding-bottom: 10px;
padding-right: 8px;
}

.fade.modal.show{
    background-color: rgb(233, 247, 248);
    border: none;
    flex: 1;
    justify-content: center;
    align-items: center;
    left: 30%;
    right: 30%;
    bottom: 40%;
    margin-top: 100px;
}